input {
    margin: 0.5em;
}

.input {
    border: 1px solid #aaa;
    outline: none;
    font-size: inherit; /*default degeri algila ve uygula(default deger degistigi zaman bu degisimden etkilenir)*/
    padding: 0.5em;
    border-radius: 0.25em;
}

.input:focus {
    border-color: rgb(5, 74, 224);
    box-shadow: 0 0 5px 0 rgb(5, 74, 224);
}

.inputSucces {
    border: 1px solid rgb(49, 245, 15);
}

.inputSucces:focus {
    border-color: rgb(49, 235, 15);
    box-shadow: rgb(15, 245, 15 );
}

.inputError {
    border:1px solid rgb(255, 0, 0);
}

.inputError:focus {
    border-color: rgb(237, 45, 45);
    box-shadow: rgb(237, 45, 45);
}

.inputLarge {
    font-size: 1.25em;
}

.inputSmall {
    font-size:0.75em
}

.input:disabled {
    background-color: #eaeaea;
}